{% assign collectionArray = collection.metafields.accentuate.collections_wrapper | split: "|" %} 
{% for collectionItem in collectionArray %}
<div class="master__collection">
    <a
      href="{{ collections[collectionItem].url }}"
      class="master__collection-link"
    >
      <img class="master__collection-image" src="{{ collections[collectionItem].image | img_url: "master" }}"
      alt="{{ collections[collectionItem].image.alt | escape }}" />
      <p class="master__collection-title">
        {{ collections[collectionItem].title }}
        <span class="arrow">{% render "arrow_right" %}</span>
      </p>
    </a>
</div>
{% endfor %}
