{% for link in section.settings.header_link_list.links %}
  <li class="nav__item">
    <a
      href="{{ link.url }}"
      class="header__center-nav {% if template.name != "index" %} header__center-black {% endif %}"
    >
      {{- link.title -}}
    </a>
  </li>
{% endfor %}
