{{ "style-account-overview.css" | asset_url  | stylesheet_tag }}

<div class="customer__sidebar">
    <h5 class="customer__sidebar-title">My Account</h5>
    <li class="customer__sidebar-item"><a class="customer__sidebar-link {% if template.name == "account" -%} customer__sidebar-link--active {%- endif -%}" href="{{ routes.account_url }}">Account Overview</a></li>
    <li class="customer__sidebar-item"><a class="customer__sidebar-link {% if template.name == "order" -%} customer__sidebar-link--active {%- endif -%}"" href="{{customer.orders[0].customer_url}}">Order Details</a></li>
    <li class="customer__sidebar-item"><a class="customer__sidebar-link {% if template.name == "addresses" -%} customer__sidebar-link--active {%- endif -%}"" href="{{ routes.account_addresses_url }}">Address Book</a></li>
  </div>