{{ "style-account.css" | asset_url | stylesheet_tag }}
<div class="reset-password container login">

  <h5 class="login__heading">Reset Password</h5>

  {% form 'reset_customer_password' %}
  
  {{ form.errors | default_errors }}
  
  <div class="login__inputs">
    <label class="login__label" for="password">Password</label>
    <input type="password" value="" name="customer[password]" size="16" class="login__input" />

  </div>
  <div class="login__inputs">
    <label class="login__label" for="password_confirmation">Password Confirmation</label>
    <input
      type="password"
      value=""
      name="customer[password_confirmation]"
      size="16"
      class="login__input"
    />
  </div>
  <input type="submit" value="Reset Password" class="login__submit login__reset" />
  
  {% endform %}
</div>
