{{
  "style-announcement-bar.css" | asset_url | stylesheet_tag
}}

<a href="{{section.settings.link }}" class="announcement-bar__link">{{ section.settings.message }}</a>


{% schema %}
  {
    "name": "Announcement",
    "class": "announcement-bar",
    "settings": [
      {
        "type": "text",
        "id": "message",
        "label": "Show announcement",
        "default": "20% OFF Sitewide until 9/12"
      },
      {
       "type": "url",
        "id": "link",
        "label": "Announcement link"
      }
    ],
    "presets":[
    {
      "name": "Announcement",
      "settings": {
      }
    }
    ]
  }
{% endschema %}