<style type="text/css">
    .grid__item {
     background: #F1F1F1;
     margin-bottom: 12px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 19px 26px 21px;
     border-radius: 8px;
     position:relative;
     }
   .grid__item-left {
     display: flex;
     align-items: center;
     gap: 26px;
     }
    .grid__item-img img {
     height: 9rem;
     width:6rem;
     object-fit: cover;
     }
   .grid__item-heading {
     font-weight: 600;
     font-size: 24px;
     line-height: 19px;
     text-transform: uppercase;
     color: #3F3C38;
     }
   .grid__item-product-name{
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     color: #3F3C38;
     margin-top: 8px;
        font-style: italic;
   }
   .grid__item-submit{
     width: 140px;
     background: #000;
     border-radius: 6.85714px;
     border: none;
     color: white;
     font-size: 32px;
     padding: 12px 0;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
     position:absolute;
     right:3.4rem;
     top:3.5rem;
   }
   .products__heading{
     margin-bottom:0.8rem;
     font-weight: 700;
     font-size: 28px;
     line-height: 38px;
     color:#3F3C38;
     text-transform: capitalize;
   }
   .product-box{
     margin-bottom: 3.6rem
   }
 </style>
 
 <script type="text/javascript">
 const selectedVariants = new Map();
 
 function setAddDisabled(form) {
     const variantId = form.querySelector('[name="variant"]').value;
     const sectionId = form.querySelector('[name="section"]').value;
     const canAdd = window.BundleBuilder.canAddVariant(variantId, sectionId);
     form.querySelector('[type="submit"]').disabled = !canAdd;
 }
 
 
 /* Change variant price after variant change */
 Array.prototype.forEach.call(
     document.querySelectorAll('.bundle-builder--add-to-bundle-form select[name="variant"]'),
     function (select) {
         select.addEventListener('change', function (e) {
             const variantId = e.target.value;
             selectedVariants.set(e.target.id, variantId);
             const price = e.target.querySelector('option[value="' + variantId + '"]').dataset.price;
             e.target.parentNode.querySelector('.variant-price').textContent = price;
 
            const form = e.target.parentElement;
            setAddDisabled(form);
         });
     }
 );
 
 
 function render() {
     selectedVariants.forEach(function (variantId, selectId) {
         const select = document.getElementById(selectId);
         if (select) {
             select.value = variantId;
         }
     });
     Array.prototype.forEach.call(
         document.querySelectorAll('.bundle-builder--add-to-bundle-form'),
         setAddDisabled,
     );
 }
 /* Change variant to what was selected last */
 document.body.addEventListener('bundlebuilder:render', render);
 render()
 </script>
 {% if bundle.published %}
 
 <div class="products container">
     {% for section in bundle.sections %}
     <div class="products__content">
     <h1 class="products__heading">{{ section.name }}</h1>
     <div class="product-box">
         {% for product in section.products %}
             <div class="product grid__item">
                 <div class="grid__item-left">
                     <div class="grid__item-img">
                         <img src="{{ product.image.src }}" />
                     </div>
                     <div class="grid__item-content">
                         <h2 class="grid__item-heading">{{ product.title }}</h2>
                       <div class="grid__item-product-name">
                         {% add_to_bundle_form section %}
                             {% if product.available_variants.size > 1 %}
                                 <select name="variant" id="select-{{ section.index }}-{{ product.id }}">
                                     {% for variant in product.available_variants %}
                                         <option value="{{ variant.id }}" data-price={{ variant.price | money }}>
                                             {{ variant.title }}
                                         </option>
                                     {% endfor %}
                                 </select>
                             {% else %}
                                 <input type="hidden" name="variant" value="{{ product.available_variants[0].id }}" />
                                  {{ product.available_variants[0].title }}
                             {% endif %}
                             | <span class="variant-price">{{ product.available_variants[0].price | money }}</span>
                           <button class="grid__item-submit" type="submit">+</button>
                         {% end_add_to_bundle_form %}
                       </div>
                     </div>
 
                 </div>
                 <div class="grid__item-right">                  
                     {% for variant in product.variants_in_bundle %}
                       {% change_quantity_form %}
                           {{ variant.title }}
                           <input type="hidden" name="variant" value="{{ variant.id }}" />
                           <input type="hidden" name="section" value="{{ section.index }}" />
                           <button type="submit" name="remove">-</button>
                               {{ variant.count }}
                           <button type="submit" name="add">+</button>
                       {% end_change_quantity_form %}
                    {% endfor %}
                 </div>
             </div>
         {% endfor %}
     </div>
       {% endfor %}
    </div>
     {% if bundle.errors.size > 0 %}
         <ul>
             {% for error in bundle.errors %}
                 <li>{{ error }}</li>
             {% endfor %}
         </ul>
     {% endif %}
         
     <div class="bundle-content">
        <h2 class="bundle__added-product__title">YOUR PACK</h2>
        <p class="bundle-freeshiping__text">add 8 or more for free shipping</p>
        <div class="bundle__grid">
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item products-added__num">4</div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item products-added__num">8</div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item"></div>
          <div class="bundle__product-item products-added__num">12</div>
        </div>
        <div>
            {% for item in bundle.content.items limit:12 %}
            <div class="add-to-cart__grid">
               <div class="add-to-cart-grid__item">
                   <div class="grid__item__image-container ">
                       <img src="{{item.variant.product.image.src}}" alt="">
                   </div>
                   <p>{{ item.variant.product.title }}</p>
               </div>
            </div>
       {% endfor %}
        </div>
        <div class="add-to-cart__bottom">
            {% add_to_cart_form %}
            {% if bundle.subscription_type == 'optional' and bundle.subscription_frequencies.size > 0 %}
                <label>
                    <input type="radio" name="subscription-enabled" value="0" />
                    One-time purchase
                </label>
                <label>
                    <input type="radio" name="subscription-enabled" value="1" />
                    Subscribe
                </label>
            {% endif %}
            {% if bundle.subscription_type == 'required' or bundle.subscription_enabled %}
                {% for frequency in bundle.subscription_frequencies %}
                    <ul>
                        <li>
                            <label>
                                <input type="radio" name="subscription-frequency" value="{{ frequency.id }}" />
                                {{ frequency.frequency }} {{ frequency.unit }}
                            </label>
                        </li>
                    </ul>
                {% endfor %}
                Email: <input type="email" required name="subscription-email" value="{{ settings.subscription_email }}" />
            {% endif %}
            <div class="add-to-cart__bottom-wrapper">
                <div class="add-to-cart__bottom-counter">{{bundle.content.items | size }}</div>
                <button class="add-to-cart__bottom-button" type="submit"{% unless bundle.can_add_to_cart %} disabled="disabled"{% endunless %}>
                    {% if bundle.adding_to_cart %}
                        Processing...
                    {% else %}
                         Add 4 more  items 
                    {% endif %}
                </button>
            </div>
        {% end_add_to_cart_form %}
     </div>
</div>
          
      </div>
     <div class="bundle-content">
 
             {% add_to_cart_form %}
                 {% if bundle.subscription_type == 'optional' and bundle.subscription_frequencies.size > 0 %}
                     <label>
                         <input type="radio" name="subscription-enabled" value="0" />
                         One-time purchase
                     </label>
                     <label>
                         <input type="radio" name="subscription-enabled" value="1" />
                         Subscribe
                     </label>
                 {% endif %}
                 {% if bundle.subscription_type == 'required' or bundle.subscription_enabled %}
                     {% for frequency in bundle.subscription_frequencies %}
                         <ul>
                             <li>
                                 <label>
                                     <input type="radio" name="subscription-frequency" value="{{ frequency.id }}" />
                                     {{ frequency.frequency }} {{ frequency.unit }}
                                 </label>
                             </li>
                         </ul>
                     {% endfor %}
                     Email: <input type="email" required name="subscription-email" value="{{ settings.subscription_email }}" />
                 {% endif %}
                 <button type="submit"{% unless bundle.can_add_to_cart %} disabled="disabled"{% endunless %}>
                     {% if bundle.adding_to_cart %}
                         Processing...
                     {% else %}
                         Add bundle to cart
                     {% endif %}
                 </button>
             {% end_add_to_cart_form %}
         {% endif %}

        
         <div class="add-to-cart__center">
             <div class="add-to-cart__center-wrapper">
                 <div class="add-to-cart__center-wrapper-item">
                    <div class="add-to-cart__grid position">
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container last">
                                <span>4</span>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="add-to-cart__center-wrapper-item">
                    <div class="add-to-cart__grid position">
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container last">
                                <span>8</span>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="add-to-cart__center-wrapper-item">
                    <div class="add-to-cart__grid position">
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container "></div>
                        </div>
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container last">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                 </div>
                 {% for item in bundle.content.items limit:12 %}
                     <div class="add-to-cart__grid">
                        <div class="add-to-cart-grid__item">
                            <div class="grid__item__image-container ">
                                <img src="{{item.variant.product.image.src}}" alt="">
                            </div>
                            <p>{{ item.variant.product.title }}</p>
                        </div>
                     </div>
                {% endfor %}
             </div>
         </div>
         <div class="add-to-cart__bottom">
             
         </div>
     </div>
 </div>
 {% else %}
     <p>Sorry, this bundle is currently unavailable.</p>
 {% endif %}