.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem; }
  .filter-form .active-filters {
    margin-top: 2.5rem;
    display: flex; }
    .filter-form .active-filters__clear {
      text-underline-offset: 0.3rem;
      text-decoration-thickness: 0.1rem;
      transition: text-decoration-thickness ease 0.1s;
      font-size: 1.4rem;
      color: black; }
    .filter-form .active-filters .active__filter {
      margin-right: 2rem; }
      .filter-form .active-filters .active__filter .active-filters__remove-filter {
        border: 1px solid black;
        color: black;
        border-radius: 2rem;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        text-decoration: none;
        padding: 0.5rem 1rem; }
        .filter-form .active-filters .active__filter .active-filters__remove-filter span {
          color: #bd1717;
          transform: rotate(90deg);
          margin-left: 0.5rem; }
  .filter-form .filter__groups {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto; }
    .filter-form .filter__groups .filter-group-summary {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .filter-form .filter__groups .filter-group-display__submit {
      display: flex;
      justify-content: center;
      align-items: center; }
      .filter-form .filter__groups .filter-group-display__submit input {
        border: 1px solid #000;
        cursor: pointer;
        background: #fff;
        color: #000;
        padding: 1rem 2rem;
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        transition: all ease 0.2s; }
        .filter-form .filter__groups .filter-group-display__submit input:hover {
          background: #000;
          color: #fff; }
    .filter-form .filter__groups .filter-group-display .filter-group-display__price-range-from input,
    .filter-form .filter__groups .filter-group-display .filter-group-display__price-range-to input {
      border: 1px solid #ccc;
      padding: 0.3rem 0.7rem;
      margin-bottom: 0.5rem; }
    .filter-form .filter__groups .filter-group-display li {
      list-style: none;
      position: relative; }
      .filter-form .filter__groups .filter-group-display li input[type="checkbox"] {
        position: absolute;
        left: -2rem;
        cursor: pointer; }
