.products__title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2.9rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.products__list {
  padding: 0 4rem;
  display: grid;
  gap: 0 1.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.goods {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.4rem;
}
.goods:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.goods__image img{
  width: 100%;
}
.goods__tags {
  display: flex;
  position: absolute;
  top: 8px;
  left: 8px;
}
.goods__tag {
  margin-right: 0.8rem;
  height: 2.8rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.goods__best-seller {
  background: #000;
  color: white;
}
.goods__free-shipping {
  color: #000;
  background-color: white;
}
.goods__pre-order {
  border: 1px solid #c4c4c4;
}
.goods__sale {
  text-transform: uppercase;
  background: #9e0404;
  color: white;
}
.goods__title {
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0.8rem;
  color: #000;
  text-decoration: none;
}
.goods__price {
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #353535;
  font-family: "Oswald", sans-serif;
  margin-top: 0.8rem;
}
.goods__sold-out{
  padding: 0.4rem 1.6rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: 45%;
  left: 47%;
  width: 60%;
  transform: translate(-45%, -47%);
}
.goods__opacity{
  opacity: 0.5;
}
.products__navigation{
  display: flex;
  align-items: center;
  justify-content: center;

}
.products__item{
  list-style: none;
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
}
.products__item::after{
  content: "/";
  display: flex;
  position: relative;
  padding: 0 0.6rem 0.5rem 0.6rem;
  opacity: 0.5;
}
.products__nav{
  color: black;
  opacity: 0.5;
  text-decoration: none;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 140%;
  padding-bottom: 0.5rem;
}
.products__nav--active{
  opacity: 1;
  border-bottom: 1px solid #C2A578;
}
.products__item:last-child::after{
  content: "";
}
.goods__price--line{
  text-decoration: line-through;
}
.goods__price--cross{
  text-decoration: line-through;
  opacity: 0.5;
}
.goods_img{
  transition: 0.3s ease;
}
.goods_img:hover{
  transform: scale(0.99);
}
.yotpo .text-m {
  display: none;
}

@media screen and (max-width:767px) {
  .products__navigation-mobile{
    display: none;
  }
  .products__list {
    padding: 0 1.6rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .goods__tags{
    flex-direction: column;
  }
  .goods__tag{
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
  .products__title {
    margin: 2.4rem 0;
    font-size: 1.8rem;
  }
  .goods__price{
    font-size: 1.2rem;
  }
  .goods__sold-out{
    padding: 0;
  }
}
@media screen and (min-width:768px) and (max-width:1250px) {
  .products__navigation{
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .products__item{
    margin-bottom: 0rem;
  }
}