.product{
    display: flex;
    width: 100%;
}
.product__left{
    width: 53%;
    position: relative;   
    display: flex;
}
.product__right{
    width: 47%;
    padding-left: 5rem;
}
.swiper-slide img{
    height: 90rem;
    width: 72rem;
}
.pdpSwiper{
    max-height: 90rem;
}
.product__right-wrapper{
    width: 80%;
    margin-top: 4rem;
}
.product__title{
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 2.4rem;
}
.product__price{
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    margin-top: 0.8rem;
}
.product__ratings{
    display: flex;
    align-items: center;
}
.product__review{
    margin-left: 0.8rem;
}
.product__description{
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
    margin-top: 1.4rem;
}
.product__button{
    width: 100%;
    background: #000;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    height: 4.3rem;
    margin:2.4rem 0;
    cursor: pointer;
}
.pdpSwiper{
    position: relative;
}
.product-frequent__title{
    padding-top: 1.6rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.6rem;
    margin-bottom: 2.6rem;
}
.product__frequents{
    display: flex;
    flex-wrap: wrap;
}
.product__frequent{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.product__frequent-right{
    width: 15rem;
}
.product__frequent-image{
    width: 9.8rem;
    height: 12.5rem;
}
.product__frequent-right{
    padding-left: 1.6rem;
    padding-right: 2rem;
}
.product__frequent-heading{
    font-size: 1.4rem;
    margin-top: -2rem;
}
.product__frequent-link{
    font-weight: 300;
    font-size: 1.4rem;
    color: black;
}
.swiper-pagination-bullet-active{
    background: #353535;
}
.goods__recommendation{
    padding: 0 4rem;
}
.goods__recommendation-list{
    display: flex;
    margin-top: 4.2rem;
}
.goods__recommendation-title{
    margin-top: 8rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 2.8rem;
}
.goods{
    height: initial;
    width: initial;
}
.product-form__input input[type=radio] {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.product-form__input {
    flex: 0 0 100%;
    padding: 0;
    margin: 0 0 1.2rem;
    max-width: 37rem;
    min-width: fit-content;
    border: none;
    max-height: 24.4rem;
    overflow-y: auto;
}
.product-form__input input[type=radio]+label {
    border: 1px solid #b1aaaa;
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    padding: 1.6rem 0;
}
.product-form__input input[type=radio]+label:hover {
    border-color: black;
}
.product-form__input input[type=radio]:checked+label {
    border: 1px solid black;
}
.product-form__sold-out{
    text-decoration: line-through;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}
.product-form__item{
    height: 5.5rem;
    width: 14.2rem;
}

/* Product details */
.product__details{
    background: #000;
}
.product__details-wrapper{
    padding: 0 4rem;
    position: relative;
}
.product__detail{
    padding: 8rem 0rem;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}
.product__detail-info{
    width: 45%;
    margin: 0 auto;
    z-index: 99;
}
.product__detail-image{
    width: 50%;
    z-index: 99;

}
.product__detail:nth-child(even){
    flex-direction: row-reverse;
}
.product__detail ul{
    margin-top: 2.5rem;
}
.product__detail li{
    list-style: none;
    margin-bottom: 1.6rem;
}
.product__detail li span{
    font-weight: 700; 
    font-size: 1.6rem;
    line-height: 2.7rem;
}
.product__detail li::before{
    content: "/";
    color: #C2A578;
    margin-right: 0.9rem;
}
.product__detail h1{
    font-size: 4rem;
    line-height: 5.7rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    width: 60%;
}
.product__detail h1 span{
    font-weight: 700;
}
.product__detail:nth-child(odd) .product__detail-image{
    width: 49%;
}
.product__detail-line{
    position: absolute;
    height: 100%;
    top: 0;
    opacity: 0.2;
}
.product__detail-line-1{
    width: 23%;
    border-right: 1px solid #C2A578;

}
.product__detail-line-2{
    width: 48%;
    border-right: 1px solid #C2A578;

}
.product__detail-line-3{
    width: 75%;
    border-right: 1px solid #C2A578;    
}