{{ "style-master.css" | asset_url | stylesheet_tag }}

<div class="master container">
  <div class="master__content">
    {% render "collection-master-1" %}
  </div>
  <div class="master__collections">
    {% assign collectionArray = collection.metafields.accentuate.collections_wrapper | split: "|" %} 
    {% render "collection-master-2" with collectionArray, limit_count: 8 %}
  </div>
</div>
