{{ "style-master.css" | asset_url | stylesheet_tag }}

<div class="master container">
  <div class="master__content">
    {% render "collection-master-1" %}
  </div>
  <div class="master__collections">
    {% render "collection-master-2" %}
  </div>
</div>
